## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options/目录
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
*.dll
*.exe
*.pdb
*.cache
*.dgspec.json
*.g.props
*.g.targets

## NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## Project specific
*.csproj.user
*.csproj.vspscc
*.cache

